header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;

  a {
    color: rgba(99, 183, 183, 1);
    text-decoration: none;
    margin-left: 32px;
    font-size: 24px;
    font-weight: 500;
    &:hover {
      color: rgba(179, 63, 64, 0.8);
      // color: rgba (255, 255 255, 0.8);
    }
  }

  img {
    margin-top: 32px;
    height: 100px;
    cursor: pointer;
  }
}

.darkLinks {
  a {
    color: rgba(99, 183, 183, 1);

    &:hover {
      color: rgba(179, 63, 64, 0.8);
      // color: rgba (255, 255 255, 0.8);
    }
  }
}
.headerDark {
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
